.DS_Store

/.vscode


/data

/api/*
!/api/setting.json

/design/*
!/design/system

/page/*
!/page/system

/plugin/*
!/plugin/setting.json

/files

/docker
/docker/*

/node_modules

/demo
/bak

*.bak*

test.*

auto.json
package-lock.json

/vendor
packager/*

robots.txt