

.lists table{
  width:100%;
  border-collapse:collapse;
}



.lists table tbody tr:hover{
  background-color:#EFF;
  cursor:pointer;
}

.lists table thead tr{
  border-bottom:1px solid #ccc;
}
.lists table tbody tr{
  height:50px;
  border-bottom:1px solid #ccc;
}
.lists table th{
  text-align:left;
  min-width:100px;
}
.lists table th.num{
  text-align:center;
  min-width:40px;
}

.lists  tbody{
  counter-reset:num;
}
.lists tbody .num:after{
  counter-increment: num;
  content: counter(num);
}

